<!-- Global site tag (gtag.js) - Google Analytics -->
script(async src="https://www.googletagmanager.com/gtag/js?id=UA-109578378-1")
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109578378-1');

<!-- Set character encoding for the document -->
meta(charset="utf-8")

<!-- Instruct Internet Explorer to use its latest rendering engine -->
meta(http-equiv="x-ua-compatible", content="ie=edge")

<!-- Viewport for responsive web design -->
meta(name='viewport', content='width=device-width, initial-scale=1')

<!-- Document Title -->
title #[=translation.SITE_NAME] - #[=translation.INDEX_TITLE]

<!-- Meta Description -->
meta(name='description', content=translation.SITE_DESCRIPTION)

link(rel="preload" as="style" href="/styles/main.min.css" onload="this.rel='stylesheet'")

noscript
  link(rel="stylesheet" href="/styles/main.min.css")

script.
  /*! loadCSS. [c]2017 Filament Group, Inc. MIT License */
  !function(a){"use strict";var b=function(b,c,d){function j(a){if(e.body)return a();setTimeout(function(){j(a)})}function l(){f.addEventListener&&f.removeEventListener("load",l),f.media=d||"all"}var g,e=a.document,f=e.createElement("link");if(c)g=c;else{var h=(e.body||e.getElementsByTagName("head")[0]).childNodes;g=h[h.length-1]}var i=e.styleSheets;f.rel="stylesheet",f.href=b,f.media="only x",j(function(){g.parentNode.insertBefore(f,c?g:g.nextSibling)});var k=function(a){for(var b=f.href,c=i.length;c--;)if(i[c].href===b)return a();setTimeout(function(){k(a)})};return f.addEventListener&&f.addEventListener("load",l),f.onloadcssdefined=k,k(l),f};"undefined"!=typeof exports?exports.loadCSS=b:a.loadCSS=b}("undefined"!=typeof global?global:this);
  /*! loadCSS rel=preload polyfill. [c]2017 Filament Group, Inc. MIT License */
  !function(a){if(a.loadCSS){var b=loadCSS.relpreload={};if(b.support=function(){try{return a.document.createElement("link").relList.supports("preload")}catch(a){return!1}},b.poly=function(){for(var b=a.document.getElementsByTagName("link"),c=0;c<b.length;c++){var d=b[c];"preload"===d.rel&&"style"===d.getAttribute("as")&&(a.loadCSS(d.href,d,d.getAttribute("media")),d.rel=null)}},!b.support()){b.poly();var c=a.setInterval(b.poly,300);a.addEventListener&&a.addEventListener("load",function(){b.poly(),a.clearInterval(c)}),a.attachEvent&&a.attachEvent("onload",function(){a.clearInterval(c)})}}}(this);

<!-- Recommended favicon format -->
link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")

<!-- Apple Touch Icon -->
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")

<!-- Microsoft Tiles -->
meta(name="msapplication-config" content="/browserconfig.xml")

link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#5bbad5")
meta(name="theme-color" content="#2b2b2b")
meta(name="msapplication-TileColor" content="#2b2b2b")
meta(name="msapplication-TileImage" content="/icons/mstile-144x144.png")

link(rel="manifest" href="/manifest.json")

include social

script
  include ../../modernizr-custom.min.js
